.more-traffic {
  margin-top: var(--section-gap);
}
.more-traffic-container {
  display: flex;
  justify-content: space-between;
}
.more-traffic__texts {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-traffic__illustration {
  width: 49%;
}
.more-traffic__texts__paragraph {
  width: 80%;
  margin-top: 25px;
}
